---
import { type CollectionEntry, getCollection } from "astro:content"
import PageLayout from "@layouts/PageLayout.astro"
import TopLayout from "@layouts/TopLayout.astro"
import BottomLayout from "@layouts/BottomLayout.astro"
import ArticleTopLayout from "@layouts/ArticleTopLayout.astro"
import ArticleBottomLayout from "@layouts/ArticleBottomLayout.astro"

export async function getStaticPaths() {
  const projects = await getCollection("projects")
  return projects.flatMap((project) => [
    { params: { locale: "en", slug: project.slug } },
    { params: { locale: "zh", slug: project.slug } },
  ])
}

const { locale, slug } = Astro.params
const projects = await getCollection("projects")
const project = projects.find(p => p.slug === slug)!

const { title } = project.data
const summary = locale === "en" ? project.data.summary_en : project.data.summary
---

<PageLayout title={title} description={summary}>
  <TopLayout>
    <div class="animate">
      <ArticleTopLayout entry={project} locale={locale} />
    </div>
  </TopLayout>
  <BottomLayout>
    <div class="animate">
      <ArticleBottomLayout entry={project} locale={locale} />
    </div>
  </BottomLayout>
</PageLayout>
